<%= form_with(model: panjabi_word, local: true) do |form| %>
  <% if panjabi_word.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(panjabi_word.errors.count, "error") %> prohibited this panjabi_word from being saved:</h2>

      <ul>
        <% panjabi_word.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="word-section">
    <h2 class="word-subtitle">Word</h2>

    <div class="pos">
      <select name="panjabi_word[pos]" class="panjabi_word_pos">
        <% pos = Global::Vars::POS %>
        <% for i in 0..pos.length()-1 do %>
          <% option = pos[i] %>
          <option value""><%= option %></p>
        <% end %>
      </select>
    </div>

    <div class="gurmukhi">
      <%= form.label :gurmukhi %>
      <%= form.text_field :gurmukhi %>
    </div>

    <div class="anuvaad">
      <%= form.label :anuvaad %>
      <%= form.text_area :anuvaad %>
    </div>

    <div class="shahmukhi">
      <%= form.label :shahmukhi %>
      <%= form.text_field :shahmukhi %>
    </div>

    <div class="roman">
      <%= form.label :roman %>
      <%= form.text_field :roman %>
    </div>

    <div class="phonetics">
      <%= form.label :phonetics %>
      <%= form.text_field :phonetics %>
    </div>

    <div class="usage">
      <%= form.label :usage %>
      <%= form.text_area :usage %>
    </div>
  </div>

  <hr style="margin-top:30px; border-top: 1px solid lightgrey;">

  <div class="translation-section">
    <h2 class="translation-subtitle">Translation</h2>

    <div class="translation-language">
      <select name="panjabi_word[translation_language_class]" id="panjabi_word_language_id">
        <% languages = Global::Vars::LANGUAGES %>
        <% for i in 0..languages.length()-1 do %>
          <% option = languages[i] %>
          <option value""><%= option %></p>
        <% end %>
      </select>
    </div>

    <div class="translation-meaning">
      <%= form.label :meaning %>
      <%= form.text_area :translation_meaning %>
    </div>

    <div class="translation-usage">
      <%= form.label :usage %>
      <%= form.text_area :translation_usage %>
    </div>

    <div class="translation-submit">
      <%= form.submit %>
    </div>
  </div>
<% end %>
