<%= form_with(model: panjabi_word, local: true) do |form| %>
  <% if panjabi_word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(panjabi_word.errors.count, "error") %> prohibited this panjabi_word from being saved:</h2>

      <ul>
        <% panjabi_word.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="title is-4">Panjabi Word</h2>

  <div class="field">
    <%= form.label :gurmukhi, class:"label" %>
    <%= form.text_field :gurmukhi, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :shahmukhi, class:"label" %>
    <%= form.text_field :shahmukhi, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :roman, class:"label" %>
    <%= form.text_field :roman, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :phonetics, class:"label" %>
    <%= form.text_field :phonetics, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :anuvaad, class:"label" %>
    <%= form.text_field :anuvaad, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :usage, class:"label" %>
    <%= form.text_field :usage, class:"input" %>
  </div>

  <%# <div class="field"> %>
    <%#   <%= form.label :pos, class:"label" %1> %>
    <%#   <%= form.text_field :pos, class:"select" %1> %>
    <%# </div> %>

  <div class="field">
    <%= form.label :pos, class:"label" %>
    <select name="panjabi_word[pos]" id="panjabi_word_pos">
      <% pos = Global::Vars::POS %>
      <% for i in 0..pos.length()-1 do %>
        <% option = pos[i] %>
        <option value""><%= option %></p>
      <% end %>
    </select>
  </div>

  <h2 class="title is-4">Translation</h2>

  <div class="field">
    <%= form.label :language, class:"label" %>
    <select name="panjabi_word[language]" id="panjabi_word_language">
      <% languages = Global::Vars::LANGUAGES %>
      <% for i in 0..languages.length()-1 do %>
        <% option = languages[i] %>
        <option value""><%= option %></p>
      <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label :translation, class:"label" %>
    <%= form.text_field :translation, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :translation_usage, class:"label" %>
    <%= form.text_field :translation_usage, class:"input" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
