<div class="signup outer-container">
  <div class="central-container">
  <h1 style="text-align: center">Signup</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password , class: "label" %>
      <%# <% if @minimum_password_length %1> %>
      <%#   <em>(<%= @minimum_password_length %1> characters minimum)</em> %>
      <%# <% end %1> %>
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "button is-primary" %>
    </div>
  <% end %>

</div></div>
