<nav role="navigation" aria-label="main navigation">
  <div class="div-wrapper">
    <div class="navbar-content">
      <div class="navbar-item">
        <%=  link_to "Home", new_user_session_url%>
      </div>
      <div class="navbar-item">
        <%=  link_to "Login", new_user_session_url if !user_signed_in? %>
        <%=  link_to "Signup", new_user_registration_url if !user_signed_in? %>
        <%=  link_to "Submissions", submissions_url if user_signed_in? %>
        <%=  link_to "Submit Word", new_panjabi_word_url if user_signed_in? %>
        <%=  link_to "Logout", destroy_user_session_url, :method => :delete if user_signed_in? %>
      </div>
    </div>
  </div>
</nav>
